@import 'tailwindcss';

/* Custom scrollbar - no Tailwind alternative */
.custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
  /* gray-300 */
  border-radius: 9999px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(75 85 99);
  /* gray-600 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175);
  /* gray-400 */
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107 114 128);
  /* gray-500 */
}

#app-container {
  /* This mimics the native 'Increase Contrast' border on macOS */
  /* TODO This should be activated only on macos maybe... */
  /* border: 1px solid var(--border-color); */
}

@media (prefers-color-scheme: light) {
  :root {
    --border-color: #d1d1d1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #3d3d3d;
  }
}
